.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  background: #f9f9f9;
  max-width: 420px;
}

.post-img {
  width: 100%;
  border-radius: 6px;
  margin: 8px 0;
}

p.titulo {
  text-align: center;
}